@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Montserrat:wght@300;400;700;900&family=Ubuntu:wght@400;700&display=swap");

/* General */

body {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    background-color: #ffffff;
}

.link {
    text-decoration: none;
    color: inherit;
}


/* Welcome page */

.welcome-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.get-started {
    background: linear-gradient( to right, #00308F, 65%, #00CCCC);
    background-clip: text;
    color: transparent;
    font-size: 110px;
    margin-bottom: 30px;
}

.open-btn {
    background-color: #002244;
    color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    font-size: 25px;
    border: none;
}

.open-btn:hover {
    background-color: #000000;
    color: #ffffff;
    scale: 1.05;
}


/* Map */

.map-container {
    width: 100%;
    height: 100vh;
}


/* Media Queries*/

@media (max-width: 970px) {
    .get-started {
        font-size: 85px;
    }
    .open-btn {
        font-size: 22px;
    }
}

@media (max-width: 690px) {
    .get-started {
        font-size: 70px;
    }
    .open-btn {
        font-size: 18px;
    }
}

@media (max-width: 450px) {
    .get-started {
        font-size: 42px;
    }
    .open-btn {
        font-size: 13px;
    }
}

@media (max-width: 280px) {
    .get-started {
        font-size: 35px;
    }
    .open-btn {
        font-size: 10px;
    }
}